#city-date-input-container{
    width: 80%;
    height: 150px;
    display: flex;
    padding: 60px 0 15px 0;
    justify-content: space-around;
    align-items: center;
}
#city-name{
    height: 50px;
    font-size: 50px;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: bold;
    color: aliceblue;
    letter-spacing: 2px;
}
#date{
    color: aliceblue;
    font-size: 30px;
}
#input-container{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}
#city-input{
    width:80%;
    min-width: 150px;
    height: 30%;
    margin: 10px;
    border: 1px solid lightcyan;
    border-radius: 30px;
    padding-left: 20px;
}
#city-input:hover{
    cursor: text;
}
#search-city-button{
    border: 1px solid lightcyan;
    border-radius: 30px;
    margin-top: 6px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 19%;
    min-width: 77px;
    height: 25%;
    font-size: 20px;
    font-weight: 400;
    color: rgb(95, 95, 95);
}
#search-city-button:hover{
    background-color: rgb(200, 200, 200);
    border: rgb(165, 165, 165);
    transition: 0.2s;
    cursor: pointer;
}